* {
    padding: 0;
    margin: 0;
}

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');


/* ------------------------------- 2. Typography ----------------------------------- */

h1, h2 {
    font-family: 'Merriweather', serif;
}

p, button, a {
    font-family: 'Roboto', sans-serif;
}

/*font-family: 'Merriweather', serif;*/
/*font-family: 'Roboto', sans-serif;*/


/* ------------------------------- 3. Layout --------------------------------------- */

:root {
    --main-bg-color: #F3F6F9; /*Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
    --main-txt-color: #0C0C0C; /*Zwart #0C0C0C (voor standaard tekst);*/
    --main-color-purple: #5722CD;
    --main-color-blue: #4845E4;
    --main-color-txt-accent: #F2F0FF; /*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    --main-service-tile-txt: #7A7A7A;  /*Grijs #7A7A7A (voor de service-tegel tekst)*/
}


/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 1px solid black;*/
}

.inner-container {
    flex-basis: 425px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px dotted blue;*/
    text-align: center;

}

/*.image-wrapper  {*/
/*    flex-basis: 800px;*/
/*    flex-grow: 0;*/
/*    flex-shrink: 1;*/
/*}*/


/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.outer-container  {
    background-color: white;
}

.inner-container    {
    background-color: var(--main-color-blue);
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 80%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);*/
    color: var(--main-bg-color);
}

.nav-container  {
    width: 100%;
    margin-bottom: 50px;
}

.nav-container  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

.nav-container ul a {
    text-decoration: none;
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: 20px;
}

#intro-button  {
    background-color: #ef4183;
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 100px;
    padding: 16px 30px;
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.header-content h1   {
    padding: 20px;
}

.header-text    {
    margin-bottom: 16px;
}

/* --------------- 4.2 Introduction ------------------- */

.intro-container    {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.intro-container h1 {
    color: var(--main-color-purple);
    padding: 16px
}

.intro-container p  {
    color: var(--main-txt-color);
    margin-top: 30px;

}

/* --------------- 4.3 Case Studies / projecten ------------------- */

.project-container  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 425px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 20px;

}

/*Rolling stone.....*/
.inner-rolling-stone-container  {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

/*img rolling stone*/
#rolling-stone  {
    width: 90%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 16px;
}



.rolling-stone-text-img  {
    color: var(--main-txt-color);
    text-align: left;
    margin-left: 20px;
}

/*spacing text and icon squiggle line*/

.rolling-stone-text-img h1, #rolling-stone-icon, p    {
    margin-bottom: 30px;
}

.rolling-stone-text-img a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color-blue);
}

/*Variety......*/

.inner-variety-container  {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

/*img variety */
#variety  {
    width: 90%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 16px;
}

.variety-text-img  {
    color: var(--main-txt-color);
    text-align: left;
    margin-left: 20px;
}

/*spacing text and icon squiggle line*/

.variety-text-img h1, #variety-icon, p    {
    margin-bottom: 30px;
}

.variety-text-img a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color-blue);
}

/*Worth.........*/

.inner-worth-container  {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

/*img worth */
#worth  {
    width: 90%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 16px;
}

.worth-text-img  {
    color: var(--main-txt-color);
    text-align: left;
    margin-left: 20px;
}

/*spacing text and icon squiggle line*/

.worth-text-img h1, #worth-icon, p    {
    margin-bottom: 30px;
}


.worth-text-img a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color-blue);
}

.worth-text-img, a {
    margin-bottom: 100px;
}




/* --------------- 4.4 Services / tiles ------------------- */

.service-container  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 425px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 100px 20px 20px 20px;

}

.inner-service-container    {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    /*border: 1px dotted black;*/
}

.tile-container {

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    border: 1px solid var(--main-color-blue);
    margin: 20px 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.tile-container h1 {
    text-align: left;
    color: var(--main-txt-color);
    padding: 16px;
}

.tile-container p {
    text-align: left;
    color: var(--main-txt-color);
    padding: 16px;
}

.image-wrapper-tiles-icons  {
    width: 100px;
    padding: 16px;
}

.tile-container h1 {
    color: var(--main-color-blue);
    font-weight: bold;
}

.tile-container p  {
    color: var(--main-service-tile-txt);
    font-weight: lighter;
}



/* --------------- 4.5 Footer / contact from ------------------- */

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-basis: 420px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 20px;
}

.footer-content h1  {
    text-align: center;
}

.footer-content p  {
    text-align: center;
}

.footer-form    {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 90%;

}

#form-submit-button  {
    background-color: #ef4183;
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 100px;
    padding: 16px 0;
    width: 150px;
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

}

.footer-form .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}










/* ------------------------------- 5. Media Queries -------------------------------- */